/*http://meyerweb.com/eric/tools/css/reset/
*/
/*Start OF Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*End OF Fonts*/
/*Start OF HTML CSS reset code*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--END OF RESET--*/
/*GLOBAL START*/

body {
 background-color:#f9f9f9;
}
.jigg:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.arow-size{
	width: 2%;
	height: 2%;
	padding-left: 50%;
	padding-right: 50%;
	padding-top: 175px;
}
.download-size{
	width: 8%;
	height: 11%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
a {
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:.5s;
 text-decoration:none;
}

em {
 font-style:oblique;
}

strong {
 font-style:bold;
}

img {
 width: 100%;
}
#ammp3
{
display: none;
}

h1, h2, h3, h4, h5 {
 font-family: proxima-nova,sans-serif;
 font-style: normal;
}

h3 {
 text-transform:capitalize;
 font-size:1.875em;
 padding:0 0 1% 0;
 color:#001833;
 font-weight:800;
}
h4 {
 text-transform:capitalize;
 font-size:1.275em;
 padding:0 0 1% 0;
 color:#001833;
 font-weight:800;
}
/*GLOBAL END*/

/*Start OF ON LOAD TEXT*/

.animate-reveal {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 1s ease-in 1 normal forwards;
       -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
/*END OF ON LOAD TEXT*/

/*GLOBAL START2*/

.textc{
  text-align: center;
}
.textb p{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.bor:hover
{
        box-shadow: inset 0 0 0 7px #53a7ea;
				box-shadow: inset 0px 0px 40px 40px #53a7ea;

}
.grow1 { transition: all .4s ease-in-out; }
.grow1:hover { transform: scale(2.1); }
.bor1
{
        box-shadow: inset 0 0 0 7px #f44277;
				box-shadow: inset 0px 0px 40px 40px #f44277;

}
.bor1-hover:hover
{
        box-shadow: inset 0 0 0 7px #f44277;
				box-shadow: inset 0px 0px 40px 40px #f44277;

}

header {
 background:
 linear-gradient(
 rgba(244, 66, 119, 0),
 rgba(244, 66, 80, 1)
 ),
 /* bottom, image */
 url(../img/landscape.jpg);
 background-size: cover;
 background-position: center;
 width:100%;
 height: 676px;

}
.intro {
 max-width: 960px;
 margin:0 auto;
 padding:8% 0;
}

.intro h1 {
 font-size: 6em;
 text-align: center;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 font-weight: 800;
 line-height:1.5em;
}

.intro h2 {
 font-size: 2em;
 text-align:center;
 color:#fff;
 font-weight:300;
 text-transform:capitalize;
 letter-spacing:0.09em;
}
.wrapper {
 max-width:960px;
 margin:0 auto;
 font-family: proxima-nova,sans-serif;
 -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
 animation-delay: 2s;
}
.about {
 padding:4% 0;
}
.about p {
 font-family: proxima-nova,sans-serif;
 font-style: normal;
 font-weight: 300;
 line-height: 1.8;
 color: #616569;
 letter-spacing: .03em;
 margin: 10px auto;
 font-size:1.5em;
 padding:2% 0;
 text-align: center;
}
.about p a {
 color:#E1CCC9;
 border-bottom:2px solid;
}
.abount-content{
	border: 10px solid #002000;
}
.hole-wrapper{

}
.work {
 height:300px;
 padding:2% 0;
}
.work h3 {
 padding:4% 0;
}
.text-box {
 float: left;
 text-align:left;
 width:480px;
 background-color:#fff;
 height:100%;
}
.text-box-content {
 padding:4% 8%;
}
.text-box-content p {
 line-height: 1.8;
 color: #616569;
 letter-spacing: .03em;
 font-size:1em;
}
.button {
 padding:5% 3%;
 border: 3px solid #F44277;
 letter-spacing:0.2em;
 text-decoration:none;
 color:black;
 text-align:center;
 display:block;
 font-weight:600;
 text-transform:uppercase;
 margin-top:4%;
}
.minibutton{
	padding:1% 1%;
  border: 1px solid black;
  letter-spacing:0.1em;
  text-decoration:none;
  color:black;
  text-align:center;
  display:block;
  font-weight:400;
  text-transform:uppercase;
  margin-top:5%;
}
.button:hover {
	color:black;
	border: 3px solid #F44277;
	background: #0079FF;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F44277), to(#f4416b));
background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#F44277), to(#f4416b));
background: -moz-linear-gradient(center top, #0096FF, #005DFF);
}
.image-area {
 width:480px;
 height:300px;
 overflow:hidden;
}
.left {
 float:left;
}
.right {
 float:right;
}
.inherit{
	float: inherit;
}

.contact {
 width:100%;
 background-color:#011833;
 padding:5% 0;
 margin-top:5%;
 clear:both;
}
.contact-content {
 max-width:960px;
 margin:0 auto;
 text-align:center;
}
.contact-content h4 {
 font-size:1.875em;
 padding:1% 0;
 color:#fff;
 font-weight:600;
 letter-spacing:0.04em;
}
.contact-content a {
 color:#F44277;
 text-decoration:none;
}
.contact-content a:hover {
 color:#F44256;
 text-decoration: underline;
}
.image-divider {
 padding:25% 0;
 background: url(../img/landscape.jpg);
 /* bottom, image */
 background-size: cover;
 background-position: center;
}
footer {
  background:
  linear-gradient(
  rgba(244, 66, 119, 1),
  rgba(244, 66, 80, 0.90)
  );
color: black;
 padding:2% 0;
 width:100%;
 clear:both;
 height:100px;
}

.footer-content {
 max-width:960px;
 padding:2% 0;
 margin:0 auto;
 font-family: proxima-nova,sans-serif;
 font-style: normal;
 font-weight: 300;
 line-height: 1.4;
 color: black;
 letter-spacing: .03em;
 font-size:1em;
}

.credit {
 float:left;
}

.social {
 float:right;
}

.social li {
 display:inline;
}

.social li a {
 color:#352d2d;
 padding:0.2em;
 font-size:1.8em;
 font-weight:600;
}

.social li a:hover {
 color:#fff;
}
/*GLOBAL END2*/
@media only screen and (max-width:1000px) {
	header{
		width: 100%;
		height: 100%;

	}
 .wrapper {
 padding:0% 4%;
 }
 .work {
 padding:4% 0;
 }
 .image-area {
 float:left;
 width: 100%;
 height: auto;
 }
 .text-box {
 width: 100%;
 height: auto;
 }
 .social li a {
 font-size: 1.4em;
 }
 .footer-content {
 padding:3.5%;
 }
 img{
	 padding-left: 25%;
	 width: 50%;
	 height: 50%;
 }
 .arow-size{
	 display: none;
 }
}
@media only screen and (max-width:800px) {
 .intro h1 {
 font-size:3em;
 line-height:1.2;
 }
 .intro h2 {
 font-size:1.5em;
 padding-top:3%;
 }
 .about p {
 font-size:1em;
 line-height:2;
 }
 footer {
 height:130px;
 line-height:1.3em;
 }
 .footer-content {
 padding: 4%;
 font-size:14px;
 }
 .social {
 float: left;
 }
 .social li a {
 font-size: 1.3em;
 }
 .contact-content {
 font-size:12px;
 line-height:1.5;
 }
 img{
	 padding-left: 25%;
	 width: 50%;
	 height: 50%;
 }
 .arow-size{
	 display: none;
 }
}
@media only screen and (max-width:768px) {
 .intro h1 {
 font-size:3em;
 line-height:1.2;
 }
 .intro h2 {
 font-size:1.5em;
 padding-top:3%;
 }
 .about p {
 font-size:1em;
 line-height:2;
 }
 footer {
 height:130px;
 line-height:1.3em;
 }
 .footer-content {
 padding: 4%;
 font-size:14px;
 }
 .social {
 float: left;
 }
 .social li a {
 font-size: 1.3em;
 }
 .contact-content {
 font-size:12px;
 line-height:1.5;
 }
 img{
	 padding-left: 25%;
	 width: 50%;
	 height: 50%;
 }
 .arow-size{
	 display: none;
 }
}
