/*EDIT HERE FOR ITS LOOKS AND HOW IT SPINNS*/
#loading-spinner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding:10px;
  margin: auto 47%;
  width:10px;
  height:10px;
  border-top:20px solid #3498db;
  border-right:20px solid #8e44ad;
  border-bottom: 20px solid #e74c3c;
  border-left:20px solid #2ecc71;
  background:transparent;
   -webkit-animation: rotate-right-round 1200ms ease-in-out infinite  alternate ;
  -moz-animation: rotate-right-round 1200ms ease-in-out infinite  alternate ;
 }
@-webkit-keyframes rotate-right-round
{
  0% { -webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg); }
 100% {-webkit-transform: rotate(360deg);-webkit-border-radius:50%;}
}
@-moz-keyframes rotate-right-round
{
  0% { transform: rotate(0deg);}
  50% {transform: rotate(180deg); }
 100% {transform: rotate(360deg);border-radius:50%;}
}
